body {
    margin: 60px auto;
    width: 70%;
}
nav {
    border-bottom: 1px solid #cc6600;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, {
    display: inline;
    margin-right: 40px;
}
ul#menu li {
  display:inline;
  margin-right: 40px;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color:#cc6600;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #336600;
}
footer {
    border-top: 1px solid #cc6600;
    font-size: .8em;
}